body {
  background: #111111;
  color:#FFF;
}
.neon {
  text-shadow: 
    0em 0em 3em #77e700,
    0em 0em 2em #77e700,
    1px 1px 5px #77e700,
    0px 0px 15px #77e700,
    1px 0px 0px white,
    -1px 0px 2px rgba(0, 0, 0, .5);
  margin-top: 20vh;
  color: rgba(255, 255, 255, 0);
}
.neon-button{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 0 0;
  color: #77e700;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}
.neon-button:hover{
  cursor:pointer;
  background: #77e700;
  color: #050801;
  box-shadow: 0 0 5px #77e700,
              0 0 25px #77e700,
              0 0 50px #77e700,
              0 0 200px #77e700;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.neon-button span{
  position: absolute;
  display: block;
}
.neon-button span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#77e700);
  animation: animate1 2s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.neon-button span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#77e700);
  animation: animate2 2s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.neon-button span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#77e700);
  animation: animate3 2s linear infinite;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
.neon-button span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#77e700);
  animation: animate4 2s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}
.neon-loader, .neon-loader:hover{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 0 0;
  color: #77e700;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  cursor:pointer;
  background: #77e700;
  color: #050801;
  box-shadow: 0 0 5px #77e700,
              0 0 25px #77e700,
              0 0 50px #77e700,
              0 0 200px #77e700;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
#hiddenBody{
  visibility: hidden;
}
.revealOnScroll{
  visibility: hidden;
}
.fade-in{
  visibility: visible;
  opacity: 1;
  transition: opacity 2s ease-in;
}
.fade-out{
  display: none;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.fade-in-bottom{
  animation-name: fade-in-bottom;
  animation-duration: .65s;
  animation-timing-function: cubic-bezier(.35,1,.8,1);
}
@keyframes fade-in-bottom {
  from {
      opacity: 0;
      transform: translateY(500%);
  }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1.5s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 375ms }
.loader__dot:nth-child(3) { animation-delay: 750ms }

.glassmorph{
  background: #2121214d;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid #2121214d;
}
.neon-text{
  color: #77e700;
  text-shadow:
    0 0 5px #77e700,
    0 0 25px #77e700,
    0 0 50px #77e700,
    0 0 200px #77e700;
}
/* scrollbar */
::-webkit-scrollbar{
  background: #77e700;
  width: 1vh;
  background: #3d3d3d4d;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid #2121214d;
}
::-webkit-scrollbar-button{
  display: none;
}